// @use '../node_modules/normalize.css/normalize.css';
@use '../../node_modules/normalize.css/normalize.css';

@use './scss/button.scss';

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;
  p {
    width: 100%;
  }

  width: 100%;
  max-width: 100ch;
  margin: 0 auto;
}
